Chauffeur.ExternalPackages.UmbracoRepositoryWrapper/Connected Services/UmbracoFeed/repository.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://packages.umbraco.org/webservices/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://packages.umbraco.org/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://packages.umbraco.org/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Categories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repositoryGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoriesResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Category">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Packages" type="tns:ArrayOfPackage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPackage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Package" nillable="true" type="tns:Package" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Package">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RepoGuid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Icon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thumbnail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documentation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Demo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Accepted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EditorsPick" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Protected" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasUpgrade" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UpgradeVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpgradeReadMe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Nitros">
        <s:complexType />
      </s:element>
      <s:element name="NitrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NitrosResult" type="tns:ArrayOfPackage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NitrosByVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="version" type="tns:Version" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Version">
        <s:restriction base="s:string">
          <s:enumeration value="Version3" />
          <s:enumeration value="Version4" />
          <s:enumeration value="Version41" />
          <s:enumeration value="Version41Legacy" />
          <s:enumeration value="Version50" />
        </s:restriction>
      </s:simpleType>
      <s:element name="NitrosByVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NitrosByVersionResult" type="tns:ArrayOfPackage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NitrosCategorized">
        <s:complexType />
      </s:element>
      <s:element name="NitrosCategorizedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NitrosCategorizedResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NitrosCategorizedByVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="version" type="tns:Version" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NitrosCategorizedByVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NitrosCategorizedByVersionResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StarterKits">
        <s:complexType />
      </s:element>
      <s:element name="StarterKitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StarterKitsResult" type="tns:ArrayOfPackage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StarterKitModulesCategorized">
        <s:complexType />
      </s:element>
      <s:element name="StarterKitModulesCategorizedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StarterKitModulesCategorizedResult" type="tns:ArrayOfCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StarterKitModules">
        <s:complexType />
      </s:element>
      <s:element name="StarterKitModulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StarterKitModulesResult" type="tns:ArrayOfPackage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="authenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchPackageByVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="packageGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="schemaVersion" type="tns:Version" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchPackageByVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fetchPackageByVersionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="packageGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fetchPackageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchProtectedPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="packageGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fetchProtectedPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fetchProtectedPackageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="repositoryGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="packageGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="packageFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="packageDoc" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="packageThumbnail" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitPackageResult" type="tns:SubmitStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SubmitStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Complete" />
          <s:enumeration value="Exists" />
          <s:enumeration value="NoAccess" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PackageByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="packageGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PackageByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PackageByGuidResult" type="tns:Package" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SkinByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="skinGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SkinByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SkinByGuidResult" type="tns:Skin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Skin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RepoGuid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Thumbnail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Preview" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="License" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Skins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="starterKitGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SkinsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SkinsResult" type="tns:ArrayOfSkin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSkin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Skin" nillable="true" type="tns:Skin" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:Categories" />
  </wsdl:message>
  <wsdl:message name="CategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:CategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="NitrosSoapIn">
    <wsdl:part name="parameters" element="tns:Nitros" />
  </wsdl:message>
  <wsdl:message name="NitrosSoapOut">
    <wsdl:part name="parameters" element="tns:NitrosResponse" />
  </wsdl:message>
  <wsdl:message name="NitrosByVersionSoapIn">
    <wsdl:part name="parameters" element="tns:NitrosByVersion" />
  </wsdl:message>
  <wsdl:message name="NitrosByVersionSoapOut">
    <wsdl:part name="parameters" element="tns:NitrosByVersionResponse" />
  </wsdl:message>
  <wsdl:message name="NitrosCategorizedSoapIn">
    <wsdl:part name="parameters" element="tns:NitrosCategorized" />
  </wsdl:message>
  <wsdl:message name="NitrosCategorizedSoapOut">
    <wsdl:part name="parameters" element="tns:NitrosCategorizedResponse" />
  </wsdl:message>
  <wsdl:message name="NitrosCategorizedByVersionSoapIn">
    <wsdl:part name="parameters" element="tns:NitrosCategorizedByVersion" />
  </wsdl:message>
  <wsdl:message name="NitrosCategorizedByVersionSoapOut">
    <wsdl:part name="parameters" element="tns:NitrosCategorizedByVersionResponse" />
  </wsdl:message>
  <wsdl:message name="StarterKitsSoapIn">
    <wsdl:part name="parameters" element="tns:StarterKits" />
  </wsdl:message>
  <wsdl:message name="StarterKitsSoapOut">
    <wsdl:part name="parameters" element="tns:StarterKitsResponse" />
  </wsdl:message>
  <wsdl:message name="StarterKitModulesCategorizedSoapIn">
    <wsdl:part name="parameters" element="tns:StarterKitModulesCategorized" />
  </wsdl:message>
  <wsdl:message name="StarterKitModulesCategorizedSoapOut">
    <wsdl:part name="parameters" element="tns:StarterKitModulesCategorizedResponse" />
  </wsdl:message>
  <wsdl:message name="StarterKitModulesSoapIn">
    <wsdl:part name="parameters" element="tns:StarterKitModules" />
  </wsdl:message>
  <wsdl:message name="StarterKitModulesSoapOut">
    <wsdl:part name="parameters" element="tns:StarterKitModulesResponse" />
  </wsdl:message>
  <wsdl:message name="authenticateSoapIn">
    <wsdl:part name="parameters" element="tns:authenticate" />
  </wsdl:message>
  <wsdl:message name="authenticateSoapOut">
    <wsdl:part name="parameters" element="tns:authenticateResponse" />
  </wsdl:message>
  <wsdl:message name="fetchPackageByVersionSoapIn">
    <wsdl:part name="parameters" element="tns:fetchPackageByVersion" />
  </wsdl:message>
  <wsdl:message name="fetchPackageByVersionSoapOut">
    <wsdl:part name="parameters" element="tns:fetchPackageByVersionResponse" />
  </wsdl:message>
  <wsdl:message name="fetchPackageSoapIn">
    <wsdl:part name="parameters" element="tns:fetchPackage" />
  </wsdl:message>
  <wsdl:message name="fetchPackageSoapOut">
    <wsdl:part name="parameters" element="tns:fetchPackageResponse" />
  </wsdl:message>
  <wsdl:message name="fetchProtectedPackageSoapIn">
    <wsdl:part name="parameters" element="tns:fetchProtectedPackage" />
  </wsdl:message>
  <wsdl:message name="fetchProtectedPackageSoapOut">
    <wsdl:part name="parameters" element="tns:fetchProtectedPackageResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitPackageSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitPackage" />
  </wsdl:message>
  <wsdl:message name="SubmitPackageSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitPackageResponse" />
  </wsdl:message>
  <wsdl:message name="PackageByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:PackageByGuid" />
  </wsdl:message>
  <wsdl:message name="PackageByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:PackageByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="SkinByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:SkinByGuid" />
  </wsdl:message>
  <wsdl:message name="SkinByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:SkinByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="SkinsSoapIn">
    <wsdl:part name="parameters" element="tns:Skins" />
  </wsdl:message>
  <wsdl:message name="SkinsSoapOut">
    <wsdl:part name="parameters" element="tns:SkinsResponse" />
  </wsdl:message>
  <wsdl:portType name="RepositorySoap">
    <wsdl:operation name="Categories">
      <wsdl:input message="tns:CategoriesSoapIn" />
      <wsdl:output message="tns:CategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Nitros">
      <wsdl:input message="tns:NitrosSoapIn" />
      <wsdl:output message="tns:NitrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NitrosByVersion">
      <wsdl:input message="tns:NitrosByVersionSoapIn" />
      <wsdl:output message="tns:NitrosByVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NitrosCategorized">
      <wsdl:input message="tns:NitrosCategorizedSoapIn" />
      <wsdl:output message="tns:NitrosCategorizedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NitrosCategorizedByVersion">
      <wsdl:input message="tns:NitrosCategorizedByVersionSoapIn" />
      <wsdl:output message="tns:NitrosCategorizedByVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StarterKits">
      <wsdl:input message="tns:StarterKitsSoapIn" />
      <wsdl:output message="tns:StarterKitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StarterKitModulesCategorized">
      <wsdl:input message="tns:StarterKitModulesCategorizedSoapIn" />
      <wsdl:output message="tns:StarterKitModulesCategorizedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StarterKitModules">
      <wsdl:input message="tns:StarterKitModulesSoapIn" />
      <wsdl:output message="tns:StarterKitModulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <wsdl:input message="tns:authenticateSoapIn" />
      <wsdl:output message="tns:authenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fetchPackageByVersion">
      <wsdl:input message="tns:fetchPackageByVersionSoapIn" />
      <wsdl:output message="tns:fetchPackageByVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fetchPackage">
      <wsdl:input message="tns:fetchPackageSoapIn" />
      <wsdl:output message="tns:fetchPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fetchProtectedPackage">
      <wsdl:input message="tns:fetchProtectedPackageSoapIn" />
      <wsdl:output message="tns:fetchProtectedPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitPackage">
      <wsdl:input message="tns:SubmitPackageSoapIn" />
      <wsdl:output message="tns:SubmitPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PackageByGuid">
      <wsdl:input message="tns:PackageByGuidSoapIn" />
      <wsdl:output message="tns:PackageByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SkinByGuid">
      <wsdl:input message="tns:SkinByGuidSoapIn" />
      <wsdl:output message="tns:SkinByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Skins">
      <wsdl:input message="tns:SkinsSoapIn" />
      <wsdl:output message="tns:SkinsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepositorySoap" type="tns:RepositorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Categories">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/Categories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nitros">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/Nitros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NitrosByVersion">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/NitrosByVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NitrosCategorized">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/NitrosCategorized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NitrosCategorizedByVersion">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/NitrosCategorizedByVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StarterKits">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/StarterKits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StarterKitModulesCategorized">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/StarterKitModulesCategorized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StarterKitModules">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/StarterKitModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPackageByVersion">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/fetchPackageByVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPackage">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/fetchPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchProtectedPackage">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/fetchProtectedPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPackage">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/SubmitPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackageByGuid">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/PackageByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkinByGuid">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/SkinByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Skins">
      <soap:operation soapAction="http://packages.umbraco.org/webservices/Skins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RepositorySoap12" type="tns:RepositorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Categories">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/Categories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nitros">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/Nitros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NitrosByVersion">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/NitrosByVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NitrosCategorized">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/NitrosCategorized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NitrosCategorizedByVersion">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/NitrosCategorizedByVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StarterKits">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/StarterKits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StarterKitModulesCategorized">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/StarterKitModulesCategorized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StarterKitModules">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/StarterKitModules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPackageByVersion">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/fetchPackageByVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPackage">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/fetchPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchProtectedPackage">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/fetchProtectedPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPackage">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/SubmitPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackageByGuid">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/PackageByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkinByGuid">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/SkinByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Skins">
      <soap12:operation soapAction="http://packages.umbraco.org/webservices/Skins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Repository">
    <wsdl:port name="RepositorySoap" binding="tns:RepositorySoap">
      <soap:address location="http://packages.umbraco.org/umbraco/webservices/api/repository.asmx" />
    </wsdl:port>
    <wsdl:port name="RepositorySoap12" binding="tns:RepositorySoap12">
      <soap12:address location="http://packages.umbraco.org/umbraco/webservices/api/repository.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>